/.idea/
/.vs/
/.idea/
/obj/
/Temp/
/Library/
/Logs/
/Builds/
/*.sln
/*.csproj
/UserSettings/
*.DS_Store
/ClassicUO.Resources/.vs/ClassicUO.Resources
/ClassicUO.Resources/obj/Debug
/ClassicUO.Resources/obj/Release
/ClassicUO.Resources/obj/
/Atlas
/ClassicUO.Resources/.vs/ProjectEvaluation
