<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.4" manuallyInstalled="true" />
  <package id="DynamicLanguageRuntime" version="1.3.5" />
  <package id="FontStashSharp.Base" version="1.1.8" manuallyInstalled="true" />
  <package id="FontStashSharp.Rasterizers.StbTrueTypeSharp" version="1.1.8" manuallyInstalled="true" />
  <package id="ImGui.NET" version="1.91.6.1" manuallyInstalled="true" />
  <package id="IronPython" version="3.4.2" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" />
  <package id="Microsoft.Data.Sqlite" version="8.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.0" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" />
  <package id="Mono.Unix" version="7.1.0-final.1.21458.1" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.6" />
  <package id="SQLitePCLRaw.core" version="2.1.6" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.6" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="2.1.6" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.6" />
  <package id="SixLabors.ImageSharp" version="2.1.4" manuallyInstalled="true" />
  <package id="StbImageSharp" version="2.30.15" manuallyInstalled="true" />
  <package id="StbTrueTypeSharp" version="1.26.11" />
  <package id="System.CodeDom" version="4.7.0" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" />
  <package id="System.IO.Pipelines" version="9.0.2" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" manuallyInstalled="true" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" />
  <package id="System.Security.Permissions" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="9.0.2" />
  <package id="System.Text.Json" version="9.0.2" manuallyInstalled="true" />
</packages>